.modal{
    top:40%;
    left:40%;
}

.modal-header{
    display: flex;
    flex-direction: row-reverse;
}

.modal-footer{
    display: flex;
    flex-direction: row-reverse;
}

#paint{
    background-color: #fff;
}
